p{
  margin: 0;   
}

.container{
  display: flex;
  background-color: rgb(41, 122, 243);
  color:#fff;
  border-bottom:1px solid black;   
}

.example{
  width: 200px;
  background-color: rgb(237, 100, 100);
  padding: 5px;
}

.result{  
  margin: 0px 10px;   
}