* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #ebebeb;
  --secondary-color: #f7f7f7;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --first-color: #3d3d3d;
  --secondary-color: #5a5a5a;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}