* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #F2F2F2;
  --secondary-color: #E4E3E2;
  --third-color: #8A8A8A;
  --fifth-color: #000000;
  --six-color: #ffffff;
}

[data-theme="dark"] {
  --first-color: #222222;
  --secondary-color: #373737;
  --third-color: #6E6E6E;
  --fifth-color: #ffffff;
  --six-color: #000000;
}