@import "utils/_normalize";
@import "utils/_reset";
@import "utils/vars";
@import "utils/mixins";

body {
  background-color: beige;
  font-family: Ubuntu, sans-serif;

  .field {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;


    &__cell {
      width: 100px;
      height: 100px;
      border: 1px solid black;
    }

    .cell-x {
      background-image: url(.././images/x.svg);
      @include backGroundImage;
    }

    .cell-o {
      background-image: url(.././images/o.svg);
      @include backGroundImage;
    }
  }
}