@import "normalize.css/normalize";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import "./mixin.scss";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-alternative_2;
}

body {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 14px;
  color: $color-primary;
}

.Header {
  position: fixed;
  width: inherit;
  max-width: inherit;
  display: flex;
  height: 60px;
  background-color: $color-header;

  .Logo {
    display: flex;
    margin: 40px 80px 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }

  .BurgerNav {
    position: relative;
    width: inherit;

    .hidden-menu {
      position: fixed;
      z-index: 2;
      height: 100%;
      width: 200px;
      top: 0;
      right: -200px;
      list-style: none;
      padding: 10px;
      background-color: $color-disable;
      transition: right .2s;
      font-size: 20px;
      font-weight: bold;
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }

    .hidden-menu-ticker {
      display: none;
    }

    .btn-menu {
      position: absolute;
      color: $color-white;
      padding: 5px;
      display: block;
      top: 5px;
      right: 0px;
      cursor: pointer;
      transition: right .23s;
      z-index: 3;
      width: 25px;
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }

    .btn-menu span {
      display: block;
      height: 2px;
      background-color: $color-primary;
      margin: 5px 0 0;
      transition: all .1s linear .23s;
      position: relative;
    }

    .btn-menu span.first {
      margin-top: 0;
    }

    .btn-menu span.second {}

    .btn-menu span.third {}

    .hidden-menu-ticker:checked~.btn-menu {
      right: 0px;
    }

    .hidden-menu-ticker:checked~.hidden-menu {
      right: 0;
    }

    .hidden-menu-ticker:checked~.btn-menu span.first {
      -webkit-transform: rotate(90deg);
      top: 10px;
    }

    .hidden-menu-ticker:checked~.btn-menu span.second {
      /*  opacity: 0; */

    }

    .hidden-menu-ticker:checked~.btn-menu span.third {
      -webkit-transform: rotate(-90deg);
      top: -10px;
    }
  }
}

.Main {

  &_Top {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    background-image: url("../img/top@1X.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &_Title {
      padding-top: 75px;
      padding-left: 66px;
      font-size: 34px;
      letter-spacing: .04rem;
    }
  }

  &_PostsAndSideBar {
    display: flex;
    margin: 150px 18px 0px;

    .Posts {
      margin: 0 62px 50px;

      .Post {
        margin-bottom: 103px;
        max-width: 752px;


        &_ImageContainer {
          margin-bottom: 24px;

          &_Image {
            max-width: 752px;
          }
        }

        &_InfoContainer {
          display: flex;
          margin-bottom: 15px;

          &_Date {
            padding: 7px 18px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $color-secondary;
            color: $color-white;
          }

          &_Icons {
            display: flex;

            &_Content {
              margin: 7px 12px;
              font-size: 16px;

              &_Icon {
                font-size: 16px;
                color: $color-disable;
                cursor: pointer;
                user-select: none;
              }

              .fa-active {
                color: $color-active;
              }
            }
          }
        }

        &_Title {
          margin-bottom: 15px;
          @include postTitle;
        }

        &_SubTitle {
          @include postSubTitle;
          margin-bottom: 25px;
        }

        &_ContinueTitle {
          text-transform: uppercase;
          text-decoration: none;
          @include postContinueTitle;
        }
      }
    }

    .SideBar {
      margin: 0 62px;

      &_Search {
        position: relative;
        margin-bottom: 68px;
        display: flex;
        align-items: center;
        height: 20px;
        width: 263px;

        &_Input {
          position: absolute;
          top: 0;
          width: 263px;
          height: 40px;
          background-color: #b3b3b380;

          &::placeholder {
            padding-left: 10px;
          }
        }

        &_Icon {
          text-align: right;
          width: 263px;
          padding-right: 18px;
          font-weight: bold;
        }
      }

      &_Content {
        margin-bottom: 46px;

        &_Title {
          font-weight: bold;
          text-transform: uppercase;
        }

        &_Info {
          margin-right: 5px;
          padding: 20px 0px 15px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $color-primary;

          &_Text {
            margin: 0 15px;
            letter-spacing: -0.1rem;
          }
        }
      }

      &_Posts {

        &_Tab {
          display: flex;

          &_Item {
            padding: 25px 15px 15px;
            border-bottom: 3px solid $color-primary;
            background: transparent;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;

            &:hover {
              border-bottom: 3px solid $color-secondary;
            }
          }
        }

        &_TabContent {
          padding-top: 25px;

          &_Post {
            padding: 3px 0px;
            display: flex;

            &_Image {
              width: 85px;
              height: 85px;
            }

            .TabContent_Post_Image1 {
              background-image: url("../img/Layer5@1X.png");
            }

            .TabContent_Post_Image2 {
              background-image: url("../img/Layer6@1X.png");
            }

            .TabContent_Post_Image3 {
              background-image: url("../img/Layer7@1X.png");
            }

            &_Info {
              width: 130px;
              margin: 14px;

              &_Title {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: -0.1rem;
              }
            }
          }
        }
      }

      &_Tags {


        &_Items {
          margin: 30px 0px;
          display: flex;
          flex-wrap: wrap;

          &_Item {
            margin: 3px 1px;
            padding: 8px 19px;
            background-color: $color-four;
            font-size: 12px;
          }
        }
      }


    }
  }

  &_NewsLetter {
    padding: 42px 14px 50px 80px;
    display: flex;
    background-color: $color-secondary;

    &_Info {
      width: 50%;

      &_Title {
        margin-bottom: 20px;
        font-size: 30px;
        color: $color-white;
        font-weight: 700;
        letter-spacing: -.04rem;
        line-height: 44px;
      }

      &_Button {
        padding: 16px 32px;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    &_Form {
      margin: 6px 30px;
      max-width: 557px;
      padding: 12px 28px 0;
      background-color: $color-white;

      &_Title {
        margin-bottom: 8px;
        font-size: 24px;
        color: $color-primary;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: -.05rem;
      }

      &_SubTitle {
        font-size: 16px;
        color: $color-alternative_1;
        letter-spacing: -0.05rem;
        line-height: 24px;
      }

      &_Input {
        margin: 26px 0px 16px 0px;
        width: 74%;
        height: 50px;
        border: 1px solid $color-primary;

        &::placeholder {
          color: $color-disable;
          font-style: italic;
        }
      }

      &_Button {
        background-color: $color-secondary;
        color: $color-white;
        padding: 18px 45px;
        font-weight: bold;
        margin-left: -5px;
        cursor: pointer;
      }
    }
  }
}

.Footer {
  padding: 45px 40px 30px 65px;
  display: flex;
  justify-content: space-between;

  &_Nav {
    &_Menu {
      list-style: none;
      display: flex;
      font-family: 'Open Sans';

      .Footer_Nav_Menu_Item {
        text-transform: uppercase;
        padding-left: 18px;

        &+.Footer_Nav_Menu_Item:before {
          content: "-";
          margin: 5px 17px 0px 0px;
          text-decoration: none;
        }
      }
    }
  }

  &_Info {
    &_Creator {
      text-transform: uppercase;
      letter-spacing: -0.05rem;
      color: $color-alternative_2;
    }

    &_Socials {
      margin: 25px 0px;
      text-align: right;

      &_Item {
        margin: 0 8px;

        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}