@function toRem($px) {
  @return ($px / $mainFontSize)+rem;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@mixin headerCell {
  font: {
    size: 20px;
    style: normal;
    weight: bold;
  }

  color: $primary-color;
  line-height: 130%;
}

@mixin bodyCell {
  padding: 10px;

  font: {
    size: 24px;
    style: italic;
    weight: bold;
  }

  color: $default-color;
  line-height: 130%;
}