@import "utils/_normalize";
@import "utils/_reset";
@import "utils/vars";
@import "utils/mixins";

body {
  font-family: Ubuntu, sans-serif;
  background-color: $default-color;

  .table {
    background-color: $primary-color;
    margin: 0 auto;

    &__header {
      background-color: $warning-color;

      &__row {

        &__cell {
          @include headerCell;
        }

      }

      .header__cell-clickable {
        cursor: pointer;
      }
    }

    &__body {
      &__row {
        border: 1px solid $warning-color;

        &__cell {
          @include bodyCell;

          &:first-child {
            color: $warning-color;
          }
        }
      }
    }
  }

  .cell {
    border: 1px solid $primary-color;
    width: 150px;
    text-align: center;
  }
}